body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4f7cac;
    color: white;
    padding: 20px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.menu-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.menu-btn:hover {
    background-color: rgba(194, 194, 50, 0.795);
    color: black;
}

#produtos {
    display: none;
    margin-top: 20px;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.produto {
    text-align: center;
}

.produto img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.produto img:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}